/*

	Global Styling
*/
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
.droid-arabic-kufi {
	font-family: 'Droid Arabic Kufi', serif;	
}
body {

	font-family: 'Droid Arabic Kufi', serif;	
}
select {
	padding:3px !important;
	font-family: 'Droid Arabic Kufi', serif;	
	direction:rtl;
}
/*
	Search box Styling Index Page
*/
#srchBox {
	background-color:#ffbb39;
	padding:5px;
}
#srchBox form {
	margin-top:25px;
}
#srchBox select {
	width:100%;
}
#srchBox table {
	width:100%;
	margin-top:3px;
	color:#555;
	font-size:14px;
}
#srchBox button {
	width:100%;
}
